@tailwind base;
@tailwind components;
@tailwind utilities;
 .slick-next:before{
    margin-left: -60px;
}.slick-prev:before{
    margin-left: 30px;
}
.slick-prev, .slick-next{
    z-index: 20;
}
.bg-grad{
    background: rgb(17,0,40);
background: linear-gradient(225deg, rgba(17,0,40,1) 0%, rgba(51,5,81,1) 47%, rgba(70,11,79,1) 100%);
}